/******************************TAG SELECTORS********************************/

h1 
{
    color:red;
    font-size:200px;
}

/* img 
{
    background-color:red;
}

img:active 
{
    height:500px;
} */

img:active 
{
    height:500px;
}

img:hover 
{
    background-color:gold;
}

/****************************CLASS SELECTORS*******************************/

.bacon
{
    background-color:green;
    
}

.broccoli
{
    background-color:red;
}

.circulur 
{
    border-radius:100%;
}
/*****************************ID SELECTORS*****************************/

#heading 
{
    color:blue;
}

